@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Gatekeeper</h1>
    <p>Webová aplikace pro záznam průchodu osob a vozidel.</p>
</div>
