@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>David Macák (c) 2023</p>
<br />
<p><a href="https://www.github.com/DavidMacak" target="_blank">Github</a></p>
